@font-face {
  font-family: "Prompt-Regular";
  src: local("Prompt"), url(./fonts/Prompt-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Prompt-SemiBold";
  src: local("Prompt"), url(./fonts/Prompt-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "ShareTechMono";
  src: local("ShareTechMono"),
    url(./fonts/ShareTechMono-Regular.ttf) format("truetype");
}
