//responsive
$tablet-screen: 768px;
$mobile-screen: 576px;

$eerie-black: hsla(200, 6%, 10%, 1);
$carolina-blue: hsla(201, 45%, 54%, 1);
$english-lavender: hsla(340, 27%, 64%, 1);
$rich-black-fogra-39: hsla(180, 4%, 5%, 1);
$bright-green: hsla(102, 100%, 54%, 1);
$white-custom: hsla(36, 10%, 90%, 1);

$transition-time: 0.2s;

$desktop-horizontal-padding: 2rem;
$mobile-horizontal-padding: 1rem;
