//responsive
$tablet-screen: 768px;
$mobile-screen: 576px;

$eerie-black: hsla(200, 6%, 10%, 1);
$carolina-blue: hsla(201, 45%, 54%, 1);
$english-lavender: hsla(340, 27%, 64%, 1);
$light-black: hsla(200, 5%, 12%, 1);
$rich-black: hsla(180, 4%, 5%, 1);
$bright-green: hsla(102, 100%, 54%, 1);
$white-custom: hsla(36, 10%, 90%, 1);
