@import "../../resources/variables.scss";

#projects {
  background: $eerie-black;
}

.project-chooser {
  display: grid;
  grid-template-columns: 9rem 50rem 9rem;
  grid-template-rows: 30rem auto;
  column-gap: 5rem;
  row-gap: 3rem;
  margin-top: 1rem;

  button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    svg {
      width: 5rem;
      fill: $bright-green;
    }
  }
}

.project-image {
  object-fit: cover;
  position: relative;
}

.project-links-wrapper {
  background-color: $rich-black;
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: auto auto;

  a {
    text-decoration: none;
    color: $white-custom;
    font-size: 2rem;
    transition: 0.2s;
    padding: 1rem 2rem;
  }

  a:hover {
    color: $carolina-blue;
    transition: 0.2s;
  }
}
