@import "../../resources/variables.scss";

#projects {
  background: $eerie-black;
}

.project-chooser {
  display: grid;
  grid-template-columns: 9rem 50rem 9rem;
  grid-template-rows: 30rem auto;
  column-gap: 5rem;
  margin-top: 1rem;

  button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    svg {
      width: 5rem;
      fill: $bright-green;
    }
  }
}

.project-image {
  object-fit: cover;
  position: relative;
}

.project-links-wrapper {
  background-color: $carolina-blue;
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: auto auto;
  box-shadow: 0 0 10px 1px $light-black;

  a {
    text-decoration: none;
    color: $white-custom;
    transition: 0.2s;
    padding: 1rem 2rem;

    h3 {
      margin: 0;
    }
  }

  a:hover {
    color: $bright-green;
    transition: 0.2s;
  }
}

.project-info {
  cursor: default;
}
