@import "../../resources/variables.scss";

#projects {
  background: $eerie-black;
  padding-left: 3vw;
  padding-right: 3vw;
}

.project-chooser {
  display: grid;
  grid-template-columns: 6rem 50rem 6rem;
  grid-template-rows: 30rem auto;
  column-gap: 3rem;
  margin-top: 1rem;

  button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    svg {
      width: 5rem;
      fill: $bright-green;
    }
  }

  button:hover {
    svg {
      fill: $english-lavender;
    }
  }
}

.project-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-info {
  cursor: default;

  a {
    color: $carolina-blue;
  }

  a:hover {
    color: $english-lavender;
  }
}

.project-info {
  grid-column-start: 2;
  grid-column-end: 3;
}

@media (max-width: 1200px) {
  .project-chooser {
    grid-template-columns: 4rem 35rem 4rem;
    grid-template-rows: 21rem auto;
    column-gap: 1rem;

    button svg {
      width: 3rem;
    }
  }
}

@media (max-width: $tablet-screen) {
  .project-chooser {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 0;
  }

  .project-image {
    grid-column-start: 1;
    grid-column-end: span 2;
    width: 35rem;
    height: 21rem;
    justify-self: center;
  }

  .arrow-right,
  .arrow-left {
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
  }

  .arrow-left {
    grid-column-start: 1;
    grid-column-end: 2;

    justify-content: flex-end;
  }

  .arrow-right {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: flex-start;
  }

  .project-info {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
}

.project-hide {
  opacity: 0;
  &.project-image {
    transform: translateY(-1rem);
  }
  &.arrow-right {
    transform: translateX(1rem);
  }
  &.arrow-left {
    transform: translateX(-1rem);
  }
  &h2,
  &.project-description,
  &.project-links {
    transform: translateY(1rem);
  }
}

.project-show {
  opacity: 100%;
  transition: 0.2s;
  &.project-image,
  &h2,
  &.project-description,
  &.project-links {
    transform: translateY(0);
  }
  &.arrow-right,
  &.arrow-left {
    transform: translateX(0);
  }
}

@media (max-width: $mobile-screen) {
  #projects {
    padding-left: 0;
    padding-right: 0;
  }

  .project-chooser {
    margin-top: 0;
  }

  .project-image {
    width: 100%;
    height: 15rem;
  }

  .arrow-left,
  .arrow-right {
    padding: 0.5rem 2rem;
  }

  .arrow-left {
    justify-content: flex-start;
  }

  .arrow-right {
    justify-content: flex-end;
  }

  .project-info {
    padding: 0 2rem;

    h2 {
      margin: 0;
    }

    p {
      margin: 1rem 0;
    }
  }
}
