@import "../../resources/variables.scss";

.typewriter-cursor {
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}
@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}
@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}
@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}
@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

.section-title {
  color: $bright-green;
  font-size: 4rem;
  font-family: ShareTechMono, monospace;
  text-align: center;
}

@media (max-width: $mobile-screen) {
  .section-title {
    font-size: 2rem;
  }
}
