@import "../../resources/variables.scss";

#landing {
  background-color: $eerie-black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10vw;
  align-items: center;
  min-height: 100vh;

  nav {
    font-size: 5.5vw;
    text-align: right;

    ul {
      margin: 0;
      li {
        cursor: pointer;
        font-family: Prompt-SemiBold, sans-serif;
        letter-spacing: 7px;
        a {
          color: $white-custom;
          text-decoration: none;
          transition: 0.3s;
        }
      }

      li:hover {
        a {
          color: $carolina-blue;
          padding-right: 1rem;
          transition: 0.3s;
        }
      }
    }
  }
}

.landing-title-wrapper {
  font-family: Prompt-Regular, sans-serif;
  font-size: 2.8vw;
  cursor: default;
}

.landing-title-role {
  color: $bright-green;
  font-family: ShareTechMono, monospace;
}

.slide-out {
  transform: translateX(100vw);
}

.slide-in {
  transform: translateX(0vw);
  transition: 0.3s;
}

@media (max-width: $tablet-screen) {
  #landing {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: unset;

    nav {
      font-size: 9vw;

      li {
        line-height: 180%;
      }
    }
  }

  .landing-title-wrapper {
    font-size: 5.5vw;
    align-self: center;
    margin-bottom: 6rem;
  }
}
