@import "../../resources/variables.scss";

#landing-section {
  background-color: $eerie-black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10vw;
  align-items: center;

  nav {
    font-size: 5vw;
    text-align: right;

    ul {
      margin: 0;
      li {
        cursor: pointer;
        font-family: Prompt-SemiBold;
        letter-spacing: 7px;
        transition: 0.1s;
      }

      li:hover {
        color: $carolina-blue;
        transition: 0.1s;
        padding-right: 1rem;
      }
    }
  }
}

.landing-title-wrapper {
  font-family: Prompt-Regular;
  font-size: 2.8vw;
  cursor: default;
}

.landing-title-role {
  color: $bright-green;
}

.typewriter-cursor {
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}
@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}
@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}
@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}
@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}
/*
.nav-hide {
  opacity: 0;
}

.nav-show {
  opacity: 100%;
  transition: 0.3s;
}*/

@media (max-width: $tablet-screen) {
  #landing-section {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: unset;

    nav {
      font-size: 10vw;

      li {
        line-height: 180%;
      }
    }
  }

  .landing-title-wrapper {
    font-size: 5.5vw;
    align-self: center;
    margin-bottom: 6rem;
  }
}
