@import "../../resources/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

#about {
  background: $light-black;
}

.section-title {
  color: $bright-green;
  font-size: 5vw;
  font-family: ShareTechMono;
}
