@import "../../resources/variables.scss";

#about {
  background: $light-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15vw;
  padding-right: 15vw;

  * {
    cursor: default;
  }
}

.section-title {
  color: $bright-green;
  font-size: 3vw;
  font-family: ShareTechMono, monospace;
}

.about-content {
  color: $white-custom;
  font-size: 1.2vw;
  font-family: Prompt-Regular, sans-serif;
  margin-top: 4vw;
}

.about-description {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 7vw;

  img {
    width: 15vw;
    align-self: center;
    border-radius: 5px;
  }
}

.competencies-container {
  margin-top: 2vw;

  h3 {
    margin-bottom: 0;
  }
  p {
    margin: 0;
  }

  * {
    letter-spacing: 1px;
  }
}

.competencies-title {
  background: $rich-black;
  font-family: Prompt-SemiBold, sans-serif;
  padding: 0.5vw 1vw;
  width: fit-content;

  font-size: 1.8vw;
  letter-spacing: 3px;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
  transition: 0.2s;
}

@media (max-width: 1600px) {
  .section-title {
    font-size: 5vw;
  }

  .about-content {
    font-size: 1.5vw;
  }

  .about-description img {
    width: 23vw;
  }

  .competencies-title {
    font-size: 2.5vw;
  }
}
