.font-1,
.font-2,
.font-3,
.default-font {
  font-size: 5rem;
}

.font-1 {
  font-family: "Times New Roman", Times, serif;
}

.font-2 {
  font-family: Prompt-Light;
}

.font-3 {
  font-family: Prompt-Bold;
}
