@import "./resources/variables.scss";
@import "./resources/selectors.scss";

@font-face {
  font-family: "Prompt-Regular";
  src: local("Prompt"),
    url(./resources/fonts/Prompt-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ShareTechMono";
  src: local("ShareTechMono"),
    url(./resources/fonts/ShareTechMono-Regular.ttf) format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Prompt-Regular, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
    overflow: hidden;
  }

  color: $white-custom;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
