@import "./resources/variables.scss";

@font-face {
  font-family: "Prompt-Light";
  src: local("Prompt"),
    url(./resources/fonts/Prompt-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Prompt-Regular";
  src: local("Prompt"),
    url(./resources/fonts/Prompt-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Prompt-Medium";
  src: local("Prompt"),
    url(./resources/fonts/Prompt-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Prompt-SemiBold";
  src: local("Prompt"),
    url(./resources/fonts/Prompt-SemiBold.ttf) format("truetype");
  font-weight: "SemiBold";
}

@font-face {
  font-family: "Prompt-Bold";
  src: local("Prompt"),
    url(./resources/fonts/Prompt-Bold.ttf) format("truetype");
  font-weight: "Bold";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
    overflow-x: hidden;
  }

  color: $white-custom;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
